<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alex Google search test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>    
  </head>
  <body style="padding-top: 70px;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Google Search</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
	  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#prj_form">Query Google</button>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <div class="container">
      <div class="row">
	<div class="col-sm-12">
	  <div id="sres" class="well">
	  </div>
	</div>
      </div>
    </div>
    <div id="prj_form" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Query Google</h4>
	  </div>
	  <form action="?{{ uquery }}" method="post" enctype="multipart/form-data">
	    <div class="modal-body">           
	      <table style="width:100%">
		<tbody>
		  {% for f in form %}
		  <tr>
		    <th>{{ f.label }}</th>
		    <td>{{ f }}</td>
		  </tr>
		  {% endfor %}
		</tbody>
	      </table>
	    </div>
	    <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Query">
	    </div>
	  </form>
	</div>
      </div>      
    </div>
    <script>
      {% if uquery %}
      function sse() {
          var source = new EventSource('/stream?{{ uquery | safe }}');
          var out = document.getElementById('sres');
          source.onmessage = function(e) {
              var d = JSON.parse(e.data);
              if (d != 'CLOSE') {
                  out.innerHTML = out.innerHTML + d;
              } else {
                  source.close();
              }
          };
          source.onerror = function() { console.log('error'); };
      }
      sse();
      {% endif %}
    </script>
  </body>
</html>
